<h1>포트폴리오 페이지입니다.</h1>

{% load staticfiles %}

<img src="{% static '좋다.jpg' %}" alt="" />
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
  </head>
  <body>
    <div class="card" style="width: 18rem;">
      <img src="{% static '좋다.jpg' %}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </body>
</html>
